.idea
.DS_Store
.vscode
build
node_modules
bun.lock

# Environment files
.env
.env.development
.env.production
.env.local

# Docker
docker-compose.yml

# Logs
public/logs*.log
public/exceptions*.log
public/rejections*.log
public/*.log
public/.*
public/*.txt

# Uploads
public/images/users/
public/images/products/

# Coverage
coverage/
.nyc_output/